@page "/About"
<section dir="rtl" class="hero overflow-hidden relative max-lg:pt-150 pt-[240px] pb-[60px] z-40">
    <div class="container">
        <div class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 flex max-md:flex-col -z-10 max-md:hidden">
            <div class="max-1xl:w-[335px] max-1xl:h-[335px] 1xl:w-[442px] 1xl:h-[442px] rounded-full bg-primary-200/20 blur-[145px]"></div>
            <div class="max-1xl:w-[335px] max-1xl:h-[335px] 1xl:w-[442px] 1xl:h-[442px] rounded-full bg-primary-200/25 -ml-[170px] max-md:ml-0 blur-[145px]"></div>
            <div class="max-1xl:w-[335px] max-1xl:h-[335px] 1xl:w-[442px] 1xl:h-[442px] rounded-full bg-primary-200/20 -ml-[170px] max-md:ml-0 blur-[145px]"></div>
        </div>
        <div class=" mx-auto text-center aos-init aos-animate" 
        data-aos="fade-up" data-aos-offset="200" data-aos-duration="1000" data-aos-once="true">
            <p class="mb-4 font-medium uppercase">با ما بیشتر آشنا شوید</p>
            <h1 class="max-lg:mb-10 mb-10">
               آشنایی با گروه فنی و مهندسی دارنو
            </h1>
            <p class="max-lg:mb-10 mb-12  mx-auto">
                گروه فنی و مهندسی دارنو با گردآوری تیمی از متخصصان و برنامه‌نویسان برجسته، از سال ۱۳۹۸ پا به عرصه فناوری اطلاعات نهاده است. آنچه ما را از دیگران متمایز می‌سازد، تجربه موفق همکاری با سازمان‌های معتبر در حوزه‌های حساس پزشکی و مالی است که گواهی بر تعهد ما به کیفیت، امنیت و دقت در اجرای پروژه‌ها محسوب می‌شود.

                حوزه تخصصی ما در برگیرنده طیف کاملی از خدمات دیجیتال شامل طراحی وب‌سایت، تولید نرم‌افزارهای سازمانی، طراحی اپلیکیشن‌های موبایل و بهینه‌سازی موتورهای جستجو (سئو) است. ما با درک عمیق از چالش‌های کسب‌وکارهای نوین، راهکارهای یکپارچه و مقیاس‌پذیری ارائه می‌دهیم که همگام با رشد سازمان شما توسعه می‌یابند.

                تیم ما بر این باور است که فناوری تنها زمانی ارزش آفرین خواهد بود که در خدمت اهداف کسب‌وکار قرار گیرد. از این رو، هر پروژه را با تحلیل دقیق نیازهای ذی‌نفعان و مطالعه جامع بازار هدف آغاز می‌کنیم. رویکرد ما در پروژه‌ها ترکیبی از دانش فنی روز، خلاقیت و توجه به جزئیات است تا در نهایت محصولی ارائه شود که نه تنها نیازهای کنونی شما را پاسخگو باشد، بلکه پلتفرمی برای رشد آینده سازمان شما فراهم آورد.

                ما در دارنو، همراهی فراتر از اجرای پروژه را به مشتریان خود عرضه می‌داریم. تعهد ما به ارائه پشتیبانی تخصصی و مشاوره مستمر، تضمین می‌کند که سرمایه‌گذاری دیجیتال شما به موتور محرکی برای تحقق اهداف تجاری تبدیل گردد.
            </p>
        </div>
    </div>
</section>


<section dir="rtl" class="relative">
    <div class="absolute left-1/2 -top-[300px] w-full h-[550px] -translate-x-1/2 bg-cover bg-[url('../images/hero-gradient.png')] bg-no-repeat bg-center opacity-70 md:hidden -z-10"></div>

   
    <div class="absolute left-0 right-0 top-25 bg-[url('../images/core-gradient.png')] bg-no-repeat bg-center opacity-70 w-full h-full bg-[length:600px_1000px] md:hidden"></div>
    <div class="container">

        <div class="grid grid-cols-12">
            <div class="max-md:col-span-full md:col-span-6">
                <div class="max-w-[550px]">
                    <p class="section-tagline">رضایت ویدئویی</p>

                    <h2>رضایت شما باعث افتخار ماست</h2>
                </div>
            </div>
            <div class="max-md:col-span-full md:col-span-6 max-w-[590px] py-10">
                <p>
                    از صمیم قلب سپاسگزاریم که در این سفر همراه ما بوده‌اید. اعتماد و پشتیبانی شما نه تنها بزرگ‌ترین سرمایه‌ی ما، بلکه انگیزه‌بخش هر گام در این مسیر بوده است. امیدواریم همواره بتوانیم سزاوار این لطف و همراهی ارزشمندتان باشیم.   <br>
                </p>
            </div>
        </div>

        <div class="relative z-10">
            <div class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 flex max-md:flex-col -z-10 max-md:hidden">
                <div class="max-1xl:w-[335px] max-1xl:h-[335px] 1xl:w-[442px] 1xl:h-[442px] rounded-full bg-primary-200/20 blur-[145px]"></div>
                <div class="max-1xl:w-[335px] max-1xl:h-[335px] 1xl:w-[442px] 1xl:h-[442px] rounded-full bg-primary-200/25 -ml-[170px] max-md:ml-0 blur-[145px]"></div>
                <div class="max-1xl:w-[335px] max-1xl:h-[335px] 1xl:w-[442px] 1xl:h-[442px] rounded-full bg-primary-200/20 -ml-[170px] max-md:ml-0 blur-[145px]"></div>
            </div>
            <div class="grid grid-cols-3 max-md:grid-cols-1 gap-8">


                <div class="bg-white dark:bg-dark-200 shadow-box rounded-medium p-2.5">
                    <div class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark  max-lg:p-5 text-center h-full">
                        <div id="68060760199"><script type="text/JavaScript" src="https://www.aparat.com/embed/q205u23?data[rnddiv]=68060760199&data[responsive]=yes"></script></div>
                    </div>
                </div>

                <div class="bg-white dark:bg-dark-200 shadow-box rounded-medium p-2.5">
                    <div class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark  max-lg:p-5 text-center h-full">
                        <div id="74501640568"><script type="text/JavaScript" src="https://www.aparat.com/embed/e495m19?data[rnddiv]=74501640568&data[responsive]=yes"></script></div>
                    </div>
                </div>
                <div class="bg-white dark:bg-dark-200 shadow-box rounded-medium p-2.5">
                    <div class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark  max-lg:p-5 text-center h-full">
                        <div id="20430627396"><script type="text/JavaScript" src="https://www.aparat.com/embed/z68y5te?data[rnddiv]=20430627396&data[responsive]=yes"></script></div>
                    </div>
                </div>
                <div class="bg-white dark:bg-dark-200 shadow-box rounded-medium p-2.5">
                    <div class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark  max-lg:p-5 text-center h-full">
                        <div id="92413662786"><script type="text/JavaScript" src="https://www.aparat.com/embed/v9961dg?data[rnddiv]=92413662786&data[responsive]=yes"></script></div>
                    </div>
                </div>










            </div>
        </div>
    </div>
    
    <div class="container relative">

        <div class="mb-12 text-center max-w-[475px] mx-auto">
           

            <h2>گواهی حسن انجام کار</h2>
        </div>
     
        <div class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 flex max-md:flex-col -z-10 max-md:hidden">
            <div class="max-1xl:w-[335px] max-1xl:h-[335px] 1xl:w-[442px] 1xl:h-[442px] rounded-full bg-primary-200/20 blur-[145px]"></div>
            <div class="max-1xl:w-[335px] max-1xl:h-[335px] 1xl:w-[442px] 1xl:h-[442px] rounded-full bg-primary-200/25 -ml-[170px] max-md:ml-0 blur-[145px]"></div>
            <div class="max-1xl:w-[335px] max-1xl:h-[335px] 1xl:w-[442px] 1xl:h-[442px] rounded-full bg-primary-200/20 -ml-[170px] max-md:ml-0 blur-[145px]"></div>
        </div>
        <div class="grid grid-cols-3 max-md:grid-cols-1 gap-10 items-center max-md:mb-25 mb-[160px]">
            <div class="p-2.5 bg-white dark:bg-dark-200 rounded-medium overflow-hidden shadow-box aos-init aos-animate" data-aos="fade-up" data-aos-offset="200" data-aos-duration="1000" data-aos-once="true">
                <img src="~/gallery/file (1).webp" alt="about images" class="rounded w-full">
            </div>
            <div class="p-2.5 bg-white dark:bg-dark-200 rounded-medium overflow-hidden shadow-box aos-init aos-animate" data-aos="fade-up" data-aos-offset="200" data-aos-duration="1000" data-aos-delay="150" data-aos-once="true">
                <img src ="~/gallery/file (2).webp" alt="about images" class="rounded w-full">
            </div>
            <div class="p-2.5 bg-white dark:bg-dark-200 rounded-medium overflow-hidden shadow-box aos-init aos-animate" data-aos="fade-up" data-aos-offset="200" data-aos-duration="1000" data-aos-delay="300" data-aos-once="true">
                <img src="~/gallery/file (3).webp" alt="about images" class="rounded w-full">
            </div>
              <div class="p-2.5 bg-white dark:bg-dark-200 rounded-medium overflow-hidden shadow-box aos-init aos-animate" data-aos="fade-up" data-aos-offset="200" data-aos-duration="1000" data-aos-delay="300" data-aos-once="true">
                <img src="~/gallery/file (4).webp" alt="about images" class="rounded w-full">
            </div>
            <div class="p-2.5 bg-white dark:bg-dark-200 rounded-medium overflow-hidden shadow-box aos-init aos-animate" data-aos="fade-up" data-aos-offset="200" data-aos-duration="1000" data-aos-delay="300" data-aos-once="true">
                <img src="~/gallery/file (5).webp" alt="about images" class="rounded w-full">
            </div>
        </div>

    </div>
</section>













<section class="client bg-white dark:bg-dark-300">
    <div class="container  overflow-hidden max-lg:!px-0">
        <div class="relative after:absolute before:absolute after:w-[120px] after:h-[40px] after:bg-gradient-to-r after:from-white after:from-[37.5%]  after:top-1/2 after:-translate-y-1/2 after:left-0 after:z-10 before:w-[120px] before:h-[40px] before:bg-gradient-to-l before:from-white before:from-[37.5%] before:right-0  before:top-1/2 before:-translate-y-1/2  before:z-10 dark:after:from-dark-gradient dark:before:from-dark-gradient">
            <div class="absolute left-0 -top-[1px] w-full max-lg:hidden">
                <img src="images/clients/client-border.svg" alt="border" class="inline-block dark:hidden">
                <img src="images/clients/client-border-dark.svg" alt="border" class="hidden dark:inline-block">
            </div>
            <div class="marquee marquee-items  ">
                <div class="  marquee-content flex items-center justify-between py-8 " id="clients">
                    <div class="marquee-content-list">
                        <img src="~/images/customer-logo (1).png" alt="group" class="inline-block dark:hidden">
                        @* <img src="images/clients/group-dark.svg" alt="group" class="hidden dark:inline-block"> *@
                    </div>
                     <div class="marquee-content-list">
                        <img src="~/images/customer-logo (2).png" alt="group" class="inline-block dark:hidden">
                        @* <img src="images/clients/group-dark.svg" alt="group" class="hidden dark:inline-block"> *@
                    </div>
                    <div class="marquee-content-list">
                        <img src="~/images/customer-logo (3).png" alt="group" class="inline-block dark:hidden">
                        @* <img src="images/clients/group-dark.svg" alt="group" class="hidden dark:inline-block"> *@
                    </div>
                    <div class="marquee-content-list">
                        <img src="~/images/customer-logo (4).png" alt="group" class="inline-block dark:hidden">
                        @* <img src="images/clients/group-dark.svg" alt="group" class="hidden dark:inline-block"> *@
                    </div>
                    <div class="marquee-content-list">
                        <img src="~/images/customer-logo (5).png" alt="group" class="inline-block dark:hidden">
                        @* <img src="images/clients/group-dark.svg" alt="group" class="hidden dark:inline-block"> *@
                    </div>
                    <div class="marquee-content-list">
                        <img src="~/images/customer-logo (6).png" alt="group" class="inline-block dark:hidden">
                        @* <img src="images/clients/group-dark.svg" alt="group" class="hidden dark:inline-block"> *@
                    </div>
                    <div class="marquee-content-list">
                        <img src="~/images/customer-logo (7).png" alt="group" class="inline-block dark:hidden">
                        @* <img src="images/clients/group-dark.svg" alt="group" class="hidden dark:inline-block"> *@
                    </div>
                    <div class="marquee-content-list">
                        <img src="~/images/customer-logo (8).png" alt="group" class="inline-block dark:hidden">
                        @* <img src="images/clients/group-dark.svg" alt="group" class="hidden dark:inline-block"> *@
                    </div>
                    <div class="marquee-content-list">
                        <img src="~/images/customer-logo (9).png" alt="group" class="inline-block dark:hidden">
                        @* <img src="images/clients/group-dark.svg" alt="group" class="hidden dark:inline-block"> *@
                    </div>
                    <div class="marquee-content-list">
                        <img src="~/images/customer-logo (10).png" alt="group" class="inline-block dark:hidden">
                        @* <img src="images/clients/group-dark.svg" alt="group" class="hidden dark:inline-block"> *@
                    </div>
                    <div class="marquee-content-list">
                        <img src="~/images/customer-logo (11).png" alt="group" class="inline-block dark:hidden">
                        @* <img src="images/clients/group-dark.svg" alt="group" class="hidden dark:inline-block"> *@
                    </div>
                    <div class="marquee-content-list">
                        <img src="~/images/customer-logo (12).png" alt="group" class="inline-block dark:hidden">
                        @* <img src="images/clients/group-dark.svg" alt="group" class="hidden dark:inline-block"> *@
                    </div>
                    <div class="marquee-content-list">
                        <img src="~/images/customer-logo (13).png" alt="group" class="inline-block dark:hidden">
                        @* <img src="images/clients/group-dark.svg" alt="group" class="hidden dark:inline-block"> *@
                    </div>
                    <div class="marquee-content-list">
                        <img src="~/images/customer-logo (14).png" alt="group" class="inline-block dark:hidden">
                        @* <img src="images/clients/group-dark.svg" alt="group" class="hidden dark:inline-block"> *@
                    </div>
                    <div class="marquee-content-list">
                        <img src="~/images/customer-logo (15).png" alt="group" class="inline-block dark:hidden">
                        @* <img src="images/clients/group-dark.svg" alt="group" class="hidden dark:inline-block"> *@
                    </div>
                    <div class="marquee-content-list">
                        <img src="~/images/customer-logo (16).png" alt="group" class="inline-block dark:hidden">
                        @* <img src="images/clients/group-dark.svg" alt="group" class="hidden dark:inline-block"> *@
                    </div>
                    <div class="marquee-content-list">
                        <img src="~/images/customer-logo (17).png" alt="group" class="inline-block dark:hidden">
                        @* <img src="images/clients/group-dark.svg" alt="group" class="hidden dark:inline-block"> *@
                    </div>
                   
                     <div class="marquee-content-list">
                        <img src="~/images/customer-logo (18).png" alt="group" class="inline-block dark:hidden">
                        @* <img src="images/clients/group-dark.svg" alt="group" class="hidden dark:inline-block"> *@
                    </div>
                   
                     <div class="marquee-content-list">
                        <img src="~/images/customer-logo (19).png" alt="group" class="inline-block dark:hidden">
                        @* <img src="images/clients/group-dark.svg" alt="group" class="hidden dark:inline-block"> *@
                    </div>
                   
                     <div class="marquee-content-list">
                        <img src="~/images/customer-logo (20).png" alt="group" class="inline-block dark:hidden">
                        @* <img src="images/clients/group-dark.svg" alt="group" class="hidden dark:inline-block"> *@
                    </div>
                      <div class="marquee-content-list">
                        <img src="~/images/customer-logo (21).png" alt="group" class="inline-block dark:hidden">
                        @* <img src="images/clients/group-dark.svg" alt="group" class="hidden dark:inline-block"> *@
                    </div>
                   

                   
                  
                </div>
            </div>
        </div>
    </div>
</section>
