@page "/404"
<section class="pt-[200px] mb-150">
    <div class="container relative aos-init aos-animate" data-aos="fade-up" data-aos-offset="200" data-aos-duration="1000" data-aos-once="true">
        <div class="max-w-[700px] mx-auto text-center">
            <h1 class="text-[140px] font-bold bg-clip-text text-transparent dark:text-transparent bg-gradient-to-b from-primary from-0to-primary/0 to-90% leading-[1]">
                404
            </h1>
      
            <h2 class="text-[64px] font-bold mb-9 leading-[1.22] ">
               
                صفحه مورد نظر یافت نشد
            </h2>
            <p class="text-xl mb-8">

            پیشنهاد میکنیم به صفحه اصلی بروید
            </p>
            <a href="/" class="btn">
                بازگشت
            </a>
        </div>
    </div>
</section>