<section dir="rtl" class="bg-white dark:bg-dark-300 overflow-hidden relative pt-20">
    <div class="container">
        <div class="grid grid-cols-12 mb-20 max-lg:gap-y-10 max-lg:text-center">
            <div class="col-span-12 lg:col-span-6">
                <img width="100" height="80" src="~/gallery/darnologo.png" alt="logo" class="inline-block dark:hidden mb-10" />
                <img width="100" height="80" src="~/gallery/darnologo.png" alt="logo dark version" class="hidden dark:inline-block mb-10" />
                <p class="max-w-[350px] max-lg:mx-auto">
                    گروه فنی و مهندسی دارنو از سال ۱۳۹۸ فعالیت خود را در زمینه طراحی سایت آغاز کرده است. این شرکت با تخصص و تجربه در انجام پروژه‌های موفق در بازارهای داخلی و خارجی، به رشد و توسعه کسب‌و‌کارهای متنوع کمک می‌کند. دارنو با هدف ارائه راهکارهای نوین و کیفیت بالا در طراحی وب، همراه قابل اعتماد کسب‌و‌کارهای دیجیتال است.
                </p>
            </div>
            <div class="col-span-12 lg:col-span-2 max-lg:text-center">
                <h3 class="mb-8 font-medium text-lg">مجوز ها</h3>
                <a href="https://tehran.irannsr.org/fa/real_persones/2448072/swd_id/104366/%D8%A7%D8%B9%D8%B6%D8%A7-%D9%85%D8%B4%D8%A7%D9%88%D8%B1%D8%A7%D9%86-%D8%AD%D9%82%DB%8C%D9%82%DB%8C-%D9%85%D8%AD%D9%85%D8%AF%D8%B1%D8%B6%D8%A7-%D9%85%D9%88%D8%AD%D8%AF%DB%8C-%D8%AC%D9%85.html">

                    <img width="180" height="80" src="~/images/Websitedesignwithalicensefromthecountryscomputerguildsystem.png" />
                </a>
                <a referrerpolicy='origin' target='_blank' href='https://trustseal.enamad.ir/?id=570169&Code=Wr01ayOJ8p5oDTvqk4X4QS2eTFuQnXZM'><img referrerpolicy='origin' src='https://trustseal.enamad.ir/logo.aspx?id=570169&Code=Wr01ayOJ8p5oDTvqk4X4QS2eTFuQnXZM' alt='' style='cursor:pointer' code='Wr01ayOJ8p5oDTvqk4X4QS2eTFuQnXZM'></a>
                @* <h3 class="mb-8 font-medium text-lg">کاوش کنید</h3>
                <ul class="[&>*:not(:last-child)]:mb-3">
                <li>
                <a href="about.html" class="relative inline-block overflow-hidden text-base capitalize text-paragraph dark:text-white before:absolute before:bottom-0 before:left-0 before:h-[1px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100"> درباره </a>
                </li>
                <li>
                <a href="services.html" class="relative inline-block overflow-hidden text-base capitalize text-paragraph dark:text-white before:absolute before:bottom-0 before:left-0 before:h-[1px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100"> سرویس ها </a>
                </li>
                <li>
                <a href="career.html" class="relative inline-block overflow-hidden text-base capitalize text-paragraph dark:text-white before:absolute before:bottom-0 before:left-0 before:h-[1px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100"> شغل </a>
                </li>
                <li>
                <a href="payment.html" class="relative inline-block overflow-hidden text-base capitalize text-paragraph dark:text-white before:absolute before:bottom-0 before:left-0 before:h-[1px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100"> پرداخت </a>
                </li>
                <li>
                <a href="price.html" class="relative inline-block overflow-hidden text-base capitalize text-paragraph dark:text-white before:absolute before:bottom-0 before:left-0 before:h-[1px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100"> قیمت گذاری </a>
                </li>
                <li>
                <a href="faq.html" class="relative inline-block overflow-hidden text-base capitalize text-paragraph dark:text-white before:absolute before:bottom-0 before:left-0 before:h-[1px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100"> سوالات متداول </a>
                </li>
                <li>
                <a href="testimonial.html" class="relative inline-block overflow-hidden text-base capitalize text-paragraph dark:text-white before:absolute before:bottom-0 before:left-0 before:h-[1px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100"> نظرات </a>
                </li>
                </ul> *@
            </div>
            <div class="col-span-12 lg:col-span-2 max-lg:text-center">
                <h3 class="mb-8 font-medium text-lg">با دارنو</h3>
                <ul class="[&>*:not(:last-child)]:mb-3">
                    <li>
                        <a href="#" class="relative inline-block overflow-hidden text-base capitalize text-paragraph dark:text-white before:absolute before:bottom-0 before:left-0 before:h-[1px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100"> آکادمی دارنو </a>
                    </li>
                    <li>
                        <a href="#" class="relative inline-block overflow-hidden text-base capitalize text-paragraph dark:text-white before:absolute before:bottom-0 before:left-0 before:h-[1px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100"> آموزش سازمانی </a>
                    </li>
                    <li>
                        <a href="#" class="relative inline-block overflow-hidden text-base capitalize text-paragraph dark:text-white before:absolute before:bottom-0 before:left-0 before:h-[1px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100"> موقعیت شغلی </a>
                    </li>
                </ul>
            </div>
            <div class="col-span-12 lg:col-span-2 max-lg:text-center">
                <h3 class="mb-8 font-medium text-lg">تماس بگیرید</h3>
                <p class="mb-3">نیاز به پشتیبانی دارید؟</p>
                <p class="mb-3">
                    <a href="mailto:hallo@example.com" class="relative inline-block overflow-hidden text-base capitalize text-paragraph dark:text-white before:absolute before:bottom-0 before:left-0 before:h-[1px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100"> info@@darnogroup.com </a>
                </p>
                <p class="mb-3">
                    <a href="tel:+989144732794"
                       class="relative inline-block overflow-hidden text-base capitalize text-paragraph dark:text-white before:absolute before:bottom-0 before:left-0 before:h-[1px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100"> 09144732794 </a>
                </p>
                <ul class="flex items-center max-lg:justify-center social-link gap-4">
                    <li>
                        <a href="#" class="transiton-all">
                            <img width="20" height="20" src="~/images/instagram-svgrepo-com.svg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img width="20" height="20" src="~/images/telegram-svgrepo-com.svg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img width="20" height="20" src="~/images/whatsapp-svgrepo-com.svg" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img width="20" height="20" src="~/images/linkedin-svgrepo-com.svg" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="seperator">
            <img src="images/footer-seperator.svg" alt="footer-seperator" class="dark:hidden w-full object-cover" />
            <img src="images/footer-seperator-dark.svg" alt="footer-seperator" class="hidden dark:block w-full object-cover" />
        </div>
        <div class="py-10 max-lg:text-center">
            <div class="flex max-lg:flex-col lg:items-center">
                <p class="max-lg:mb-10">  <span id="date"></span> کلیه حقوق این سایت متعلق به گروه فنی و مهندسی دارنو می باشد </p>
                @* <ul class="lg:mr-auto flex items-center gap-15 max-lg:justify-center">
                <li>
                <a href="privacy.html" class="relative inline-block overflow-hidden text-base capitalize text-paragraph dark:text-white before:absolute before:bottom-0 before:left-0 before:h-[1px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100"> ساسیت حفظ حریم خصوصی </a>
                </li>
                <li>
                <a href="terms.html" class="relative inline-block overflow-hidden text-base capitalize text-paragraph dark:text-white before:absolute before:bottom-0 before:left-0 before:h-[1px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100"> درباره موسس </a>
                </li>
                </ul> *@
            </div>
        </div>
    </div>
</section>