<meta charset="utf-8" />
<title>گروه فنی و مهندسی دارنو</title>
<!--Meta For No Index-->
<meta name="robots" content="noindex, Nofollow, Noimageindex" />
<!-- mobile responsive meta -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<!-- Stylesheets -->
<link type="image/x-icon" href="~/gallery/darnologo.png" rel="icon">

<link href="~/vendor/fontawesome/all.css" rel="stylesheet" />
<link href="~/vendor/fancybox/fancybox.css" rel="stylesheet" />
<link href="~/vendor/swiper/swiper.css" rel="stylesheet" />
<link href="~/vendor/aos/aos.css" rel="stylesheet" />
<link href="~/css/theme.css" rel="stylesheet" />