<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="utf-8" />
    <title>گروه فنی و مهندسی دارنو</title>
    <!--Meta For No Index-->
    <meta name="robots" content="noindex, Nofollow, Noimageindex" />
    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!-- Stylesheets -->
    <link type="image/x-icon" href="~/gallery/darnologo.png" rel="icon">

    <link href="~/vendor/fontawesome/all.css" rel="stylesheet" />
    <link href="~/vendor/fancybox/fancybox.css" rel="stylesheet" />
    <link href="~/vendor/swiper/swiper.css" rel="stylesheet" />
    <link href="~/vendor/aos/aos.css" rel="stylesheet" />
    <link href="~/css/theme.css" rel="stylesheet" />
   @await RenderSectionAsync("Style",false)
  </head>
  <body class="relative overflow-x-hidden text-base antialiased bg-white dark:bg-dark-300 font-Inter">
    <div class="toggle-button fixed right-5 max-lg:bottom-2.5 lg:top-1/3 z-[10000000000]">
      <button id="theme-toggle" type="button" class="text-paragraph dark:text-white focus:outline-none focus:ring-0 focus:ring-gray-200 w-10 h-10 border rounded-md border-paragraph/25 dark:border-borderColour-dark flex justify-center items-center">
        <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5 ml-1 -mt-[1px]" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
        </svg>
        <svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path>
        </svg>
      </button>
    </div>
    <header dir="rtl" class="fixed left-0 pt-8 z-[1000000000] duration-500 transition-all w-full bg-transparent" id="mainnavigationBar">
      <nav class="container flex items-center relative">
        <div class="nav-logo xl:min-w-[266px]">
          <a href="/">
                    <img src="~/gallery/darnologo.png" alt="logo" width="100" height="80" class="dark:hidden" />
                    <img src="~/gallery/darnologo.png" alt="logo dark version" width="100" height="80" class="hidden dark:inline-block" />
          </a>
        </div>
        <ul class="nav-list hidden lg:flex mx-auto bg-white dark:bg-dark-200 p-2.5 shadow-nav rounded-large [&>*:not(:last-child)]:me-1">
       @*    <li class="relative group">
            <a href="javascript:void(0)" class="font-Inter flex items-center text-base font-medium leading-8 text-paragraph dark:text-white py-[5px] px-5 lg:px-4 xl:px-5 border rounded-large border-transparent hover:bg-white hover:border-borderColour dark:hover:bg-dark-200 dark:hover:border-borderColour/10 duration-500 hover:duration-500 transition-colors active"> خانه <i class="fa-solid fa-angle-down text-paragraph dark:text-white mr-2 group-hover:rotate-180 duration-500 mt-1"></i>
            </a>
            <ul class="absolute min-w-[250px] right-0 top-12 p-5 opacity-0 scale-y-0 origin-top duration-500 group-hover:scale-y-100 bg-white dark:bg-dark-200 group-hover:opacity-100 rounded-md [&>*:not(:last-child)]:border-b [&>*:not(:last-child)]:border-dashed [&>*:not(:last-child)]:border-borderColour dark:[&>*:not(:last-child)]:border-borderColour-dark [&>*:not(:first-child)]:mt-2.5 z-10">
              <li class="relative overflow-hidden text-base capitalize text-paragraph pb-2.5 before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100">
                <a href="index.html" class="flex"> خانه 1 </a>
              </li>
              <li class="relative overflow-hidden text-base capitalize text-paragraph pb-2.5 before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100">
                <a href="payment.html" class="flex"> خانه 2 </a>
              </li>
              <li class="relative overflow-hidden text-base capitalize text-paragraph pb-2.5 before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100">
                <a href="banking.html" class="flex"> خانه 3 </a>
              </li>
              <li class="relative overflow-hidden text-base capitalize text-paragraph pb-2.5 before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100">
                <a href="analytics.html" class="flex"> خانه 4 </a>
              </li>
              <li class="relative overflow-hidden text-base capitalize text-paragraph pb-2.5 before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100">
                <a href="hosting.html" class="flex"> خانه 5 </a>
              </li>
              <li class="relative overflow-hidden text-base capitalize text-paragraph pb-2.5 before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100">
                <a href="chatbot.html" class="flex"> خانه 6 </a>
              </li>
              <li class="relative overflow-hidden text-base capitalize text-paragraph pb-2.5 before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100">
                <a href="crypto.html" class="flex"> خانه 7 </a>
              </li>
              <li class="relative overflow-hidden text-base capitalize text-paragraph pb-2.5 before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100">
                <a href="ai.html" class="flex"> خانه 8 </a>
              </li>
            </ul>
          </li> *@
          <li class="group">
            <a href="/" class="font-Inter flex items-center text-base font-medium leading-8 text-paragraph dark:text-white py-[5px] px-5 lg:px-4 xl:px-5 border rounded-large border-transparent hover:bg-white hover:border-borderColour dark:hover:bg-dark-200 dark:hover:border-borderColour/10 duration-500 hover:duration-500 transition-colors"> صفحه اصلی </a>
          </li>
          @* <li class="relative group">
            <a href="javascript:void(0)" class="font-Inter flex items-center text-base font-medium leading-8 text-paragraph dark:text-white py-[5px] px-5 lg:px-4 xl:px-5 border rounded-large border-transparent hover:bg-white hover:border-borderColour dark:hover:bg-dark-200 dark:hover:border-borderColour/10 duration-500 hover:duration-500 transition-colors"> سرویس ها <i class="fa-solid fa-angle-down text-paragraph dark:text-white mr-2 group-hover:rotate-180 duration-500 mt-1"></i>
            </a>
            <ul class="absolute min-w-[250px] right-0 top-12 p-5 opacity-0 scale-y-0 origin-top duration-500 group-hover:scale-y-100 bg-white dark:bg-dark-200 group-hover:opacity-100 rounded-md [&>*:not(:last-child)]:border-b [&>*:not(:last-child)]:border-dashed [&>*:not(:last-child)]:border-borderColour dark:[&>*:not(:last-child)]:border-borderColour-dark [&>*:not(:first-child)]:mt-2.5 z-10">
              <li class="relative overflow-hidden text-base capitalize text-paragraph pb-2.5 before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100">
                <a href="services.html" class="flex"> سرویس ها </a>
              </li>
              <li class="relative overflow-hidden text-base capitalize text-paragraph pb-2.5 before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100">
                <a href="services-single.html" class="flex"> سرویس تنها </a>
              </li>
            </ul>
          </li> *@
          <li class="group">
            <a href="javascript:void(0)" class="font-Inter flex items-center text-base font-medium leading-8 text-paragraph dark:text-white py-[5px] px-5 lg:px-4 xl:px-5 border rounded-large border-transparent hover:bg-white hover:border-borderColour dark:hover:bg-dark-200 dark:hover:border-borderColour/10 duration-500 hover:duration-500 transition-colors group"> طراحی سایت <i class="fa-solid fa-angle-down text-paragraph dark:text-white mr-2 group-hover:rotate-180 duration-500 mt-1"></i>
            </a>
            <div class="absolute grid gap-15 text-gray-900 dark:text-white md:grid-cols-12 w-full left-0 top-[58px] p-2.5 opacity-0 scale-y-0 origin-top duration-500 group-hover:scale-y-100 bg-white dark:bg-dark-200 group-hover:opacity-100 rounded-medium shadow-lg z-10 items-center">
              <ul class="col-span-8 columns-3 gap-10 px-15">
                <li class="relative overflow-hidden text-base capitalize text-paragraph py-2.5 before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100">
                                <a href="#" class="flex"> طراحی سایت شرکتی </a>
                </li>
                <li class="relative overflow-hidden text-base capitalize text-paragraph py-2.5 before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100">
                                <a href="#" class="flex"> طراحی سایت فروشگاهی</a>
                </li>
                <li class="relative overflow-hidden text-base capitalize text-paragraph py-2.5 before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100">
                                <a href="#" class="flex"> طراحی سایت پزشکی </a>
                </li>
                <li class="relative overflow-hidden text-base capitalize text-paragraph py-2.5 before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100">
                                <a href="#" class="flex"> طراحی سایت خدماتی </a>
                </li>
                <li class="relative overflow-hidden text-base capitalize text-paragraph py-2.5 before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100">
                                <a href="#" class="flex"> طراحی سایت املاک </a>
                </li>
                <li class="relative overflow-hidden text-base capitalize text-paragraph py-2.5 before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100">
                                <a href="#" class="flex"> طراحی سایت استارت آپ </a>
                </li>
                <li class="relative overflow-hidden text-base capitalize text-paragraph py-2.5 before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100">
                                <a href="#" class="flex"> طراحی سایت کافه و رستوران </a>
                </li>
                <li class="relative overflow-hidden text-base capitalize text-paragraph py-2.5 before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100">
                                <a href="#" class="flex"> طراحی سایت سالن زیبایی </a>
                </li>
                <li class="relative overflow-hidden text-base capitalize text-paragraph py-2.5 before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100">
                                <a href="#" class="flex"> طراحی سایت شخصی </a>
                </li>
                <li class="relative overflow-hidden text-base capitalize text-paragraph py-2.5 before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100">
                                <a href="#" class="flex"> طراحی سایت آموزشی </a>
                </li>
                <li class="relative overflow-hidden text-base capitalize text-paragraph py-2.5 before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100">
                  <a href="#" class="flex"> طراحی سایت خبری </a>
                </li>
              </ul>
              <div class="col-span-4">
                <img src="images/Website design.webp" alt="navbar" class="w-full dark:hidden rounded-2xl" />
                <img src="images/navbar-dark.png" alt="navbar" class="w-full hidden dark:block rounded-2xl" />
              </div>
            </div>
          </li>
       @*    <li class="relative group">
            <a href="javascript:void(0)" class="font-Inter flex items-center text-base font-medium leading-8 text-paragraph dark:text-white py-[5px] px-5 lg:px-4 xl:px-5 border rounded-large border-transparent hover:bg-white hover:border-borderColour dark:hover:bg-dark-200 dark:hover:border-borderColour/10 duration-500 hover:duration-500 transition-colors"> جدید ها <i class="fa-solid fa-angle-down text-paragraph dark:text-white mr-2 group-hover:rotate-180 duration-500 mt-1"></i>
            </a>
            <ul class="absolute min-w-[250px] right-0 top-12 p-5 opacity-0 scale-y-0 origin-top duration-500 group-hover:scale-y-100 bg-white dark:bg-dark-200 group-hover:opacity-100 rounded-md [&>*:not(:last-child)]:border-b [&>*:not(:last-child)]:border-dashed [&>*:not(:last-child)]:border-borderColour dark:[&>*:not(:last-child)]:border-borderColour-dark [&>*:not(:first-child)]:mt-2.5 z-10">
              <li class="relative overflow-hidden text-base capitalize text-paragraph pb-2.5 before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100">
                <a href="blog.html" class="flex"> وبلاگ گرید </a>
              </li>
              <li class="relative overflow-hidden text-base capitalize text-paragraph pb-2.5 before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100">
                <a href="blog-list.html" class="flex"> لیست وبلاگ </a>
              </li>
              <li class="relative overflow-hidden text-base capitalize text-paragraph pb-2.5 before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100">
                <a href="categories.html" class="flex"> دسته بندی وبلاگ </a>
              </li>
              <li class="relative overflow-hidden text-base capitalize text-paragraph pb-2.5 before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100">
                <a href="tags.html" class="flex"> تگ های وبلاگ </a>
              </li>
              <li class="relative overflow-hidden text-base capitalize text-paragraph pb-2.5 before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100">
                <a href="blog-details.html" class="flex"> جزییات وبلاگ </a>
              </li>
            </ul>
          </li> *@
                <li>
                    <a href="#" class="font-Inter flex items-center text-base font-medium leading-8 text-paragraph dark:text-white py-[5px] px-5 lg:px-4 xl:px-5 border rounded-large border-transparent hover:bg-white hover:border-borderColour dark:hover:bg-dark-200 dark:hover:border-borderColour/10 duration-500 hover:duration-500 transition-colors"> وبلاگ </a>
                </li>
          <li>
            <a asp-page="/About" class="font-Inter flex items-center text-base font-medium leading-8 text-paragraph dark:text-white py-[5px] px-5 lg:px-4 xl:px-5 border rounded-large border-transparent hover:bg-white hover:border-borderColour dark:hover:bg-dark-200 dark:hover:border-borderColour/10 duration-500 hover:duration-500 transition-colors"> درباره ما </a>
          </li>
          <li>
                    <a asp-page="/Contact" class="font-Inter flex items-center text-base font-medium leading-8 text-paragraph dark:text-white py-[5px] px-5 lg:px-4 xl:px-5 border rounded-large border-transparent hover:bg-white hover:border-borderColour dark:hover:bg-dark-200 dark:hover:border-borderColour/10 duration-500 hover:duration-500 transition-colors"> ارتباط با ما </a>
          </li>
        </ul>
        <ul class="flex items-center max-lg:mr-auto [&>*:not(:last-child)]:me-2.5">
          <li class="">
            <button class="bg-white dark:bg-dark-200 p-2.5 rounded-full" id="open-btn">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.11278 0C14.1369 0 18.2245 4.08758 18.2245 9.11278C18.2245 11.2861 17.4592 13.5472 16.1845 14.8512L20 18.6667L18.6667 20L14.8512 16.1856C13.5667 17.4603 11.2861 18.2245 9.11278 18.2245C4.08758 18.2245 0 14.1369 0 9.11278C0 4.08758 4.08758 0 9.11278 0ZM9.11278 16.3395C13.0974 16.3395 16.3395 13.0974 16.3395 9.11278C16.3395 5.12818 13.0974 1.88608 9.11278 1.88608C5.12709 1.88608 1.88499 5.12818 1.88499 9.11278C1.88499 13.0974 5.12709 16.3395 9.11278 16.3395Z" fill="" class="fill-paragraph dark:fill-white" />
              </svg>
            </button>
          </li>
          <li class="max-lg:hidden">
            <a href="request-demo.html" class="btn btn-navbar btn-sm"> پنل مشتریان </a>
          </li>
          <li class="max-lg:inline-block lg:hidden">
            <button class="outline-none mobile-menu-button w-10 h-10 rounded-full bg-white dark:bg-dark-200 relative">
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="14" viewBox="0 0 22 14" fill="none" class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
                <path d="M0 1C0 0.447715 0.447715 0 1 0H21C21.5523 0 22 0.447715 22 1C22 1.55228 21.5523 2 21 2H1C0.447716 2 0 1.55228 0 1Z" fill="" class="fill-paragraph dark:fill-white" />
                <path d="M8 7C8 6.44772 8.44772 6 9 6H21C21.5523 6 22 6.44772 22 7C22 7.55228 21.5523 8 21 8H9C8.44772 8 8 7.55228 8 7Z" fill="" class="fill-paragraph dark:fill-white" />
                <path d="M4 13C4 12.4477 4.44772 12 5 12H21C21.5523 12 22 12.4477 22 13C22 13.5523 21.5523 14 21 14H5C4.44772 14 4 13.5523 4 13Z" fill="" class="fill-paragraph dark:fill-white" />
              </svg>
            </button>
          </li>
        </ul>
        <div class="mobile-menu max-lg:overflow-y-auto">
          <button class="outline-none navbar-toggle-close w-10 h-10 rounded-full bg-white dark:bg-dark-200 absolute right-6 top-5">
            <i class="fa-solid fa-times"></i>
          </button>
          <ul class="nav-list flex flex-col gap-5 w-full max-w-[500px] landscape:h-full relative">
            <li class="relative group faq-item">
              <p class="faq-header font-Inter flex items-center text-base font-medium leading-8 text-paragraph dark:text-white py-[5px] px-5 lg:px-4 xl:px-5 border rounded-large border-transparent hover:bg-white hover:border-borderColour dark:hover:bg-dark-200 dark:hover:border-borderColour/10 duration-500 hover:duration-500 transition-colors group active"> خانه <i class="fa-solid fa-angle-down text-paragraph dark:text-white mr-auto group-[.open]:rotate-180 duration-500 mt-1"></i>
              </p>
              <ul class="faq-body close">
                <li class="relative overflow-hidden text-base capitalize text-paragraph pb-2.5 before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100">
                  <a href="index.html" class="flex"> خانه 1 </a>
                </li>
                <li class="relative overflow-hidden text-base capitalize text-paragraph pb-2.5 before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100">
                  <a href="payment.html" class="flex"> خانه 2 </a>
                </li>
                <li class="relative overflow-hidden text-base capitalize text-paragraph pb-2.5 before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100">
                  <a href="banking.html" class="flex"> خانه 3 </a>
                </li>
                <li class="relative overflow-hidden text-base capitalize text-paragraph pb-2.5 before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100">
                  <a href="analytics.html" class="flex"> خانه 4 </a>
                </li>
                <li class="relative overflow-hidden text-base capitalize text-paragraph pb-2.5 before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100">
                  <a href="hosting.html" class="flex"> خانه 5 </a>
                </li>
                <li class="relative overflow-hidden text-base capitalize text-paragraph pb-2.5 before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100">
                  <a href="chatbot.html" class="flex"> خانه 6 </a>
                </li>
                <li class="relative overflow-hidden text-base capitalize text-paragraph pb-2.5 before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100">
                  <a href="crypto.html" class="flex"> خانه 7 </a>
                </li>
                <li class="relative overflow-hidden text-base capitalize text-paragraph pb-2.5 before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100">
                  <a href="ai.html" class="flex"> خانه 8 </a>
                </li>
              </ul>
            </li>
            <li class="">
              <a href="about.html" class="font-Inter flex items-center text-base font-medium leading-8 text-paragraph dark:text-white py-[5px] px-5 lg:px-4 xl:px-5 border rounded-large border-transparent hover:bg-white hover:border-borderColour dark:hover:bg-dark-200 dark:hover:border-borderColour/10 duration-500 hover:duration-500 transition-colors"> درباره </a>
            </li>
            <li class="relative group faq-item">
              <p href="javascript:void(0)" class="faq-header font-Inter flex items-center text-base font-medium leading-8 text-paragraph dark:text-white py-[5px] px-5 lg:px-4 xl:px-5 border rounded-large border-transparent hover:bg-white hover:border-borderColour dark:hover:bg-dark-200 dark:hover:border-borderColour/10 duration-500 hover:duration-500 transition-colors group"> سرویس ها <i class="fa-solid fa-angle-down text-paragraph dark:text-white mr-auto group-[.open]:rotate-180 duration-500 mt-1"></i>
              </p>
              <ul class="absolute w-full min-w-[250px] left-0 top-12 p-5 opacity-0 scale-y-0 origin-top duration-500 group-hover:scale-y-100 bg-white dark:bg-dark-200 group-hover:opacity-100 rounded-md [&>*:not(:last-child)]:border-b [&>*:not(:last-child)]:border-dashed [&>*:not(:last-child)]:border-borderColour dark:[&>*:not(:last-child)]:border-borderColour-dark [&>*:not(:first-child)]:mt-2.5 z-10 faq-body close">
                <li class="relative overflow-hidden text-base capitalize text-paragraph pb-2.5 before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100">
                  <a href="services.html" class="flex"> سرویس ها </a>
                </li>
                <li class="relative overflow-hidden text-base capitalize text-paragraph pb-2.5 before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100">
                  <a href="services-single.html" class="flex"> سرویس تنها </a>
                </li>
              </ul>
            </li>
            <li class="relative group faq-item">
              <p href="javascript:void(0)" class="faq-header font-Inter flex items-center text-base font-medium leading-8 text-paragraph dark:text-white py-[5px] px-5 lg:px-4 xl:px-5 border rounded-large border-transparent hover:bg-white hover:border-borderColour dark:hover:bg-dark-200 dark:hover:border-borderColour/10 duration-500 hover:duration-500 transition-colors group"> صفحات <i class="fa-solid fa-angle-down text-paragraph dark:text-white mr-auto group-[.open]:rotate-180 duration-500 mt-1"></i>
              </p>
              <div class="absolute text-gray-900 dark:text-white w-full left-0 top-12 p-5 opacity-0 scale-y-0 origin-top duration-500 group-hover:scale-y-100 bg-white dark:bg-dark-200 group-hover:opacity-100 rounded-medium shadow-lg z-10 items-center faq-body close">
                <ul class="columns-2 gap-10 mb-15">
                  <li class="relative overflow-hidden text-base capitalize text-paragraph py-2.5 before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100">
                    <a href="team.html" class="flex"> تیم </a>
                  </li>
                  <li class="relative overflow-hidden text-base capitalize text-paragraph py-2.5 before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100">
                    <a href="team-single.html" class="flex"> جزییات تیم </a>
                  </li>
                  <li class="relative overflow-hidden text-base capitalize text-paragraph py-2.5 before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100">
                    <a href="testimonial.html" class="flex"> گواهینامه </a>
                  </li>
                  <li class="relative overflow-hidden text-base capitalize text-paragraph py-2.5 before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100">
                    <a href="price.html" class="flex"> قیمت </a>
                  </li>
                  <li class="relative overflow-hidden text-base capitalize text-paragraph py-2.5 before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100">
                    <a href="career.html" class="flex"> شغل </a>
                  </li>
                  <li class="relative overflow-hidden text-base capitalize text-paragraph py-2.5 before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100">
                    <a href="career-single.html" class="flex"> شغل تنها </a>
                  </li>
                  <li class="relative overflow-hidden text-base capitalize text-paragraph py-2.5 before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100">
                    <a href="faq.html" class="flex"> سوالات متداول </a>
                  </li>
                  <li class="relative overflow-hidden text-base capitalize text-paragraph py-2.5 before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100">
                    <a href="integration.html" class="flex"> یکپارچه </a>
                  </li>
                  <li class="relative overflow-hidden text-base capitalize text-paragraph py-2.5 before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100">
                    <a href="login.html" class="flex"> ورود </a>
                  </li>
                  <li class="relative overflow-hidden text-base capitalize text-paragraph py-2.5 before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100">
                    <a href="signup.html" class="flex"> ثبت نام </a>
                  </li>
                  <li class="relative overflow-hidden text-base capitalize text-paragraph py-2.5 before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100">
                    <a href="404.html" class="flex"> 404 </a>
                  </li>
                </ul>
                <div class="max-w-full">
                  <img src="images/navbar.png" alt="navbar" class="w-full dark:hidden rounded-2xl" />
                  <img src="images/navbar-dark.png" alt="navbar" class="w-full hidden dark:block rounded-2xl" />
                </div>
              </div>
            </li>
            <li class="relative group faq-item">
              <p href="javascript:void(0)" class="faq-header font-Inter flex items-center text-base font-medium leading-8 text-paragraph dark:text-white py-[5px] px-5 lg:px-4 xl:px-5 border rounded-large border-transparent hover:bg-white hover:border-borderColour dark:hover:bg-dark-200 dark:hover:border-borderColour/10 duration-500 hover:duration-500 transition-colors group"> جدید <i class="fa-solid fa-angle-down text-paragraph dark:text-white ml-auto group-[.open]:rotate-180 duration-500 mt-1"></i>
              </p>
              <ul class="absolute w-full min-w-[250px] left-0 top-12 p-5 opacity-0 scale-y-0 origin-top duration-500 group-hover:scale-y-100 bg-white dark:bg-dark-200 group-hover:opacity-100 rounded-md [&>*:not(:last-child)]:border-b [&>*:not(:last-child)]:border-dashed [&>*:not(:last-child)]:border-borderColour dark:[&>*:not(:last-child)]:border-borderColour-dark [&>*:not(:first-child)]:mt-2.5 z-10 faq-body close">
                <li class="relative overflow-hidden text-base capitalize text-paragraph pb-2.5 before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100">
                  <a href="blog.html" class="flex"> وبلاگ گرید </a>
                </li>
                <li class="relative overflow-hidden text-base capitalize text-paragraph pb-2.5 before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100">
                  <a href="blog-list.html" class="flex"> لیست وبلاگ </a>
                </li>
                <li class="relative overflow-hidden text-base capitalize text-paragraph pb-2.5 before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100">
                  <a href="categories.html" class="flex"> دسته بندی وبلاگ </a>
                </li>
                <li class="relative overflow-hidden text-base capitalize text-paragraph pb-2.5 before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100">
                  <a href="tags.html" class="flex"> تگ های وبلاگ </a>
                </li>
                <li class="relative overflow-hidden text-base capitalize text-paragraph pb-2.5 before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100">
                  <a href="blog-details.html" class="flex"> جزییات وبلاگ </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="contact.html" class="font-Inter flex items-center text-base font-medium leading-8 text-paragraph dark:text-white py-[5px] px-5 lg:px-4 xl:px-5 border rounded-large border-transparent hover:bg-white hover:border-borderColour dark:hover:bg-dark-200 dark:hover:border-borderColour/10 duration-500 hover:duration-500 transition-colors"> ارتباط باما </a>
            </li>
            <li>
                        <a href="#" class="btn btn-navbar btn-sm bg-dark-blue"> درخواست دمو </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
  

    @RenderBody()
    <section dir="rtl" class="bg-white dark:bg-dark-300 overflow-hidden relative pt-20">
      <div class="container">
        <div class="grid grid-cols-12 mb-20 max-lg:gap-y-10 max-lg:text-center">
          <div class="col-span-12 lg:col-span-6">
            <img width="100" height="80" src="~/gallery/darnologo.png" alt="logo" class="inline-block dark:hidden mb-10" />
                    <img width="100" height="80" src="~/gallery/darnologo.png" alt="logo dark version" class="hidden dark:inline-block mb-10" />
            <p class="max-w-[350px] max-lg:mx-auto">
                        گروه فنی و مهندسی دارنو از سال ۱۳۹۸ فعالیت خود را در زمینه طراحی سایت آغاز کرده است. این شرکت با تخصص و تجربه در انجام پروژه‌های موفق در بازارهای داخلی و خارجی، به رشد و توسعه کسب‌و‌کارهای متنوع کمک می‌کند. دارنو با هدف ارائه راهکارهای نوین و کیفیت بالا در طراحی وب، همراه قابل اعتماد کسب‌و‌کارهای دیجیتال است.
                    </p>
          </div>
           <div class="col-span-12 lg:col-span-2 max-lg:text-center">
                    <h3 class="mb-8 font-medium text-lg">مجوز ها</h3>
                    <a href="https://tehran.irannsr.org/fa/real_persones/2448072/swd_id/104366/%D8%A7%D8%B9%D8%B6%D8%A7-%D9%85%D8%B4%D8%A7%D9%88%D8%B1%D8%A7%D9%86-%D8%AD%D9%82%DB%8C%D9%82%DB%8C-%D9%85%D8%AD%D9%85%D8%AF%D8%B1%D8%B6%D8%A7-%D9%85%D9%88%D8%AD%D8%AF%DB%8C-%D8%AC%D9%85.html">

                        <img width="180" height="80" src="~/images/Websitedesignwithalicensefromthecountryscomputerguildsystem.png" />
                    </a>
                    <a referrerpolicy='origin' target='_blank' href='https://trustseal.enamad.ir/?id=570169&Code=Wr01ayOJ8p5oDTvqk4X4QS2eTFuQnXZM'><img referrerpolicy='origin' src='https://trustseal.enamad.ir/logo.aspx?id=570169&Code=Wr01ayOJ8p5oDTvqk4X4QS2eTFuQnXZM' alt='' style='cursor:pointer' code='Wr01ayOJ8p5oDTvqk4X4QS2eTFuQnXZM'></a>
            @* <h3 class="mb-8 font-medium text-lg">کاوش کنید</h3>
            <ul class="[&>*:not(:last-child)]:mb-3">
              <li>
                <a href="about.html" class="relative inline-block overflow-hidden text-base capitalize text-paragraph dark:text-white before:absolute before:bottom-0 before:left-0 before:h-[1px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100"> درباره </a>
              </li>
              <li>
                <a href="services.html" class="relative inline-block overflow-hidden text-base capitalize text-paragraph dark:text-white before:absolute before:bottom-0 before:left-0 before:h-[1px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100"> سرویس ها </a>
              </li>
              <li>
                <a href="career.html" class="relative inline-block overflow-hidden text-base capitalize text-paragraph dark:text-white before:absolute before:bottom-0 before:left-0 before:h-[1px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100"> شغل </a>
              </li>
              <li>
                <a href="payment.html" class="relative inline-block overflow-hidden text-base capitalize text-paragraph dark:text-white before:absolute before:bottom-0 before:left-0 before:h-[1px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100"> پرداخت </a>
              </li>
              <li>
                <a href="price.html" class="relative inline-block overflow-hidden text-base capitalize text-paragraph dark:text-white before:absolute before:bottom-0 before:left-0 before:h-[1px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100"> قیمت گذاری </a>
              </li>
              <li>
                <a href="faq.html" class="relative inline-block overflow-hidden text-base capitalize text-paragraph dark:text-white before:absolute before:bottom-0 before:left-0 before:h-[1px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100"> سوالات متداول </a>
              </li>
              <li>
                <a href="testimonial.html" class="relative inline-block overflow-hidden text-base capitalize text-paragraph dark:text-white before:absolute before:bottom-0 before:left-0 before:h-[1px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100"> نظرات </a>
              </li>
            </ul> *@
          </div> 
          <div class="col-span-12 lg:col-span-2 max-lg:text-center">
            <h3 class="mb-8 font-medium text-lg">با دارنو</h3>
            <ul class="[&>*:not(:last-child)]:mb-3">
              <li>
                <a href="#" class="relative inline-block overflow-hidden text-base capitalize text-paragraph dark:text-white before:absolute before:bottom-0 before:left-0 before:h-[1px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100"> آکادمی دارنو </a>
              </li>
                        <li>
                            <a href="#" class="relative inline-block overflow-hidden text-base capitalize text-paragraph dark:text-white before:absolute before:bottom-0 before:left-0 before:h-[1px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100"> آموزش سازمانی </a>
                        </li>
                        <li>
                            <a href="#" class="relative inline-block overflow-hidden text-base capitalize text-paragraph dark:text-white before:absolute before:bottom-0 before:left-0 before:h-[1px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100"> موقعیت شغلی </a>
                        </li>
            </ul>
          </div>
          <div class="col-span-12 lg:col-span-2 max-lg:text-center">
            <h3 class="mb-8 font-medium text-lg">تماس بگیرید</h3>
            <p class="mb-3">نیاز به پشتیبانی دارید؟</p>
            <p class="mb-3">
              <a href="mailto:hallo@example.com" class="relative inline-block overflow-hidden text-base capitalize text-paragraph dark:text-white before:absolute before:bottom-0 before:left-0 before:h-[1px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100"> info@@darnogroup.com </a>
            </p>
            <p class="mb-3">
              <a href="tel:+989144732794" 
              class="relative inline-block overflow-hidden text-base capitalize text-paragraph dark:text-white before:absolute before:bottom-0 before:left-0 before:h-[1px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100"> 09144732794 </a>
            </p>
            <ul class="flex items-center max-lg:justify-center social-link gap-4">
              <li>
                <a href="#" class="transiton-all">
                                <img width="20" height="20" src="~/images/instagram-svgrepo-com.svg" />
                </a>
              </li>
              <li>
                <a href="#">
                                <img width="20" height="20" src="~/images/telegram-svgrepo-com.svg" />
                </a>
              </li>
              <li>
                <a href="#">
                                <img width="20" height="20" src="~/images/whatsapp-svgrepo-com.svg" />
                </a>
              </li>
              <li>
                <a href="#">
                                <img width="20" height="20" src="~/images/linkedin-svgrepo-com.svg" />
                            </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="seperator">
          <img src="images/footer-seperator.svg" alt="footer-seperator" class="dark:hidden w-full object-cover" />
          <img src="images/footer-seperator-dark.svg" alt="footer-seperator" class="hidden dark:block w-full object-cover" />
        </div>
        <div class="py-10 max-lg:text-center">
          <div class="flex max-lg:flex-col lg:items-center">
            <p class="max-lg:mb-10">  <span id="date"></span> کلیه حقوق این سایت متعلق به گروه فنی و مهندسی دارنو می باشد </p>
            @* <ul class="lg:mr-auto flex items-center gap-15 max-lg:justify-center">
              <li>
                <a href="privacy.html" class="relative inline-block overflow-hidden text-base capitalize text-paragraph dark:text-white before:absolute before:bottom-0 before:left-0 before:h-[1px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100"> ساسیت حفظ حریم خصوصی </a>
              </li>
              <li>
                <a href="terms.html" class="relative inline-block overflow-hidden text-base capitalize text-paragraph dark:text-white before:absolute before:bottom-0 before:left-0 before:h-[1px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100"> درباره موسس </a>
              </li>
            </ul> *@
          </div>
        </div>
      </div>
    </section>
  
    <!---Modal -->
    <div dir="rtl" aria-hidden="false" class="fixed z-[99999999990] hidden inset-0 top-0 items-start justify-center bg-metal-900 bg-dark-200/25" onclick="javascript.void(0)" id="modal" role="dialog">
      <div class="relative w-full p-4 h-auto animate-keep-bounce max-w-xl">
        <div class="relative bg-white dark:bg-dark-200 shadow-box rounded-medium p-2.5">
          <div class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark p-10 max-lg:p-5">
            <div class="flex items-center justify-between bg border-b border-dashed border-b-borderColour dark:border-borderColour-dark pb-5">
              <h3 class="text-paragraph dark:text-white">جست و جو</h3>
              <button class="text-paragraph dark:text-white" id="ok-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 256 256">
                  <rect width="256" height="256" fill="none"></rect>
                  <circle cx="128" cy="128" r="96" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="16"></circle>
                  <line x1="160" y1="96" x2="96" y2="160" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
                  <line x1="160" y1="160" x2="96" y2="96" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
                </svg>
              </button>
            </div>
            <form class="mt-5">
              <div>
                <div class="flex">
                  <div class="relative w-full">
                    <input class="block w-full focus:outline-none focus:ring-0 text-paragraph-light dark:text-paragraph-light border-borderColour py-2.5 px-5 border border- rounded-medium bg-transparent placeholder:text-paragraph dark:placeholder:text-white outline-none focus:border-primary dark:focus:border-primary duration-300 transition-all" id="#id-10" placeholder="چیزی بنویسید..." type="text" value="" />
                  </div>
                </div>
              </div>
            </form>
            <p class="pt-5 font-medium mb-12 hidden">
              <span>No recent searches</span>
            </p>
            <div class="pt-5">
              <h3 class="mb-1">نتیجه جست و جو</h3>
              <ul class="[&>*:not(:last-child)]:border-dashed [&>*:not(:last-child)]:border-gray-100 dark:[&>*:not(:last-child)]:border-borderColour-dark [&>*:not(:last-child)]:border-b">
                <li class="group">
                  <a class="flex items-center justify-between py-5 font-medium" href="services-single.html"> بانکداری نوین <i class="fa-solid fa-angle-left"></i>
                  </a>
                </li>
                <li class="group">
                  <a href="services-single.html" class="flex items-center justify-between py-5 font-medium"> تحلیل مالی <i class="fa-solid fa-angle-left"></i>
                  </a>
                </li>
                <li class="group">
                  <a href="services-single.html" class="flex items-center justify-between py-5 font-medium"> خرید و <i class="fa-solid fa-angle-left"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!--
  #############
  Footer Area
  #############
-->
    <!-- Mark up for Script Section-->
    <script src="vendor/fancybox/fancybox.js"></script>
    <script src="vendor/gsap/gsap.min.js"></script>
    <script src="vendor/gsap/motionpath.js"></script>
    <script src="vendor/swiper/swiper.js"></script>
    <script src="vendor/aos/aos.js"></script>
    <script src="vendor/stackItem/stackItem.js"></script>
    <script src="js/script.js"></script>
    @await RenderSectionAsync("Script", false)
  </body>
</html>